/*
* Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
* All rights reserved.
* This component and the accompanying materials are made available
* under the terms of the License "Symbian Foundation License v1.0"
* which accompanies this distribution, and is available
* at the URL "http://www.symbianfoundation.org/legal/sfl-v10.html".
*
* Initial Contributors:
* Nokia Corporation - initial contribution.
*
* Contributors:
*
* Description:
* Build environment configuration flags for Connection Settings API BC tests.
*
*/


// Tests for new and deprecated features are included/excluded based on the
// knowledge of environment version.
//#define CMMGRBC_S60_032_SUPPORT // Not supported
//#define CMMGRBC_S60_050_SUPPORT // Not supported
//#define CMMGRBC_S60_091_SUPPORT
#define CMMGRBC_S60_092_SUPPORT
//#define CMMGRBC_S60_101_SUPPORT



// Support for certain version implies support for all previous versions.
#ifdef CMMGRBC_S60_101_SUPPORT
#define CMMGRBC_S60_092_SUPPORT
#endif

#ifdef CMMGRBC_S60_092_SUPPORT
#define CMMGRBC_S60_091_SUPPORT
#endif

#ifdef CMMGRBC_S60_091_SUPPORT
#define CMMGRBC_S60_050_SUPPORT
#endif

#ifdef CMMGRBC_S60_050_SUPPORT
#define CMMGRBC_S60_032_SUPPORT
#endif

#ifdef CMMGRBC_S60_032_SUPPORT
#define CMMGRBC_S60_031_SUPPORT
#endif

// End of file
